<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
    <title>404 NOT FOUND</title>
</head>

<body>
    <div style="max-width: 512px;width: 95vw;margin: auto;height: 100vh;height: 100dvh;display: flex;">
        <div style="margin: auto;">
            <div onclick="location='/'">
                <div>
                    <div>
                        <div style="user-select: none;"><span style="font-size: 9.4cqw; cursor: pointer;"><span
                                    style="color: #840D23;">404</span> NOT
                                FOUND</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>