* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: Microsoft YaHei, Helvetica, Arial, sans-serif;
}

*::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #b7b7b7;
    border-radius: 114514rem;
}

.cardContainer {
    background-image: url('./img/kita.jpg');
    background-position: 70%;
    background-size: cover;
    background-attachment: fixed;
    display: -webkit-box;
    width: 100%;
    position: relative;
    -webkit-box-align: center;
}

.host {
    background-image: url('./img/host.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#card {
    /* display: flex; */
    box-sizing: border-box;
    max-width: 480px;
    width: 90%;
    background-color: #ffffffde;
    border-radius: 1.2rem;
    backdrop-filter: blur(8px);
    padding: 1.8rem;
    overflow: hidden;
    flex-direction: column;
    left: 1rem;
}

#card .subtitle {
    font-weight: 200;
    font-size: .9rem;
}

#card .title {
    font-weight: 400;
    font-size: 1.5rem;
}

#card header {
    position: relative;
}

header .headerButtom {
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    top: 30%;
    cursor: pointer;
    user-select: none;
}

.icon-menu::after {
    content: url(./icons/menu.svg);
    display: block;
}

.icon-close::after {
    content: url(./icons/close.svg);
    display: block;
}

#menuDialog {
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 114514;
    background-color: #0000006d;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

#menuDialog .card {
    background-color: #fff;
    box-sizing: border-box;
    width: 90%;
    max-width: 512px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: #00000022 0 0 20px 4px;
    will-change: left, top, opacity;
}

#menuDialog h2 {
    font-weight: 400;
    position: relative;
}

#menuDialog>.card>* {
    padding: 0 2rem;
}

#menuDialog>.card>*:last-child {
    margin-bottom: 1rem;
}

#menuDialog>.card header {
    padding: 1rem 2rem;
    background-color: #00000011;
}

#menuDialog>.card header>h2::after {
    content: 'MENU';
    margin-left: .5rem;
    font-weight: 600;
    color: #00000022;
}

#menuDialog>.card .input {
    width: 100%;
    margin-top: 1rem;
}

input {
    outline: none;
    border: none;
    width: 100%;
    margin-top: .3rem;
    padding: .2rem .4rem;
    background-color: #00000009;
    border-radius: .4rem;
    text-align: center;
}

#menuDialog>.card h3 {
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
}

ul {
    list-style-type: none;
    margin-top: 1rem;
}

.boxCenter {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.notFound {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    cursor: pointer;
}

#menuDialog>.card ul li {
    display: -webkit-box;
    -webkit-box-pack: justify;
    background-color: #00000008;
    margin: .6rem 0;
    padding: .4rem .6rem;
    border-radius: .4rem;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
}

#menuDialog>.card ul li> :last-child {
    font-weight: 600;
    color: #0000002a;
}

.tableContainer {
    overflow: scroll;
    min-width: 100%;
    display: -webkit-box;
    background-color: #ffffffb8;
    border-radius: .5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: .2rem .4rem;
    white-space: nowrap;
}

thead {
    text-align: left;
}

thead,
tr.odd {
    background-color: #a7a7a730;
}

tr:hover {
    background-color: #000;
    color: #fff;
}

#card>.text {
    margin-top: 1.2rem;
    font-weight: 400;
    font-size: 1rem;
}

#card>.text a::after {
    content: url(./icons/link.svg);
    height: 1em;
    width: 1em;
    float: right;
    display: block;
    position: absolute;
    right: -1.2em;
    top: 1px;
}

#card>.text a.upRight::after {
    content: url(./icons/upRight.svg);
}

#card>.text small {
    font-weight: 200;
}

#card>.text a {
    color: inherit;
    text-decoration: inherit;
    font-weight: 600;
    position: relative;
}

#card img {
    max-width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    margin-top: 1rem;
}

#card>.text svg {
    display: inline;
    height: 1em;
    transform: translateY(2px);
}

.shadowBorder {
    box-shadow: 0 0px 45px -3px #00000021;
}

.noBr {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}